.saved-news-header {
  padding: 40px 104px 56px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

.saved-news-header__subtitle {
  color: rgba(26, 27, 34, 0.5);
}

.saved-news-header__title {
  font-family: "Roboto-slab", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  max-width: 530px;
  margin: 28px 0 30px;
}

.saved-news-header__text {
  margin: 0;
}

.saved-news-header__text_bold {
  font-weight: 700;
}

@media screen and (max-width: 1000px) {
  .saved-news-header {
    padding: 24px 40px 32px;
    font-size: 14px;
    line-height: 24px;
    align-self: center;
  }

  .saved-news-header__title {
    font-size: 30px;
    line-height: 34px;
    margin: 16px 0;
    max-width: 336px;
  }
}

@media screen and (max-width: 650px) {
  .saved-news-header {
    padding: 8px 16px 32px;
  }

  .saved-news-header__subtitle {
    font-size: 12px;
    line-height: 24px;
  }

  .saved-news-header__title {
    margin: 16px 0 50px;
    max-width: 288px;
  }

  .saved-news-header__text {
    font-size: 18px;
    line-height: 24px;
  }
}
