.app {
  max-width: 1440px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.app_background {
  background-image: url("../../images/Main-Background.png");
  background-position-x: center;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}

@media screen and (max-width: 1000px) {
  .app {
    width: 100%;
  }

  .app_background {
    background-size: auto 400px;
  }
}

@media screen and (max-width: 650px) {
  .app_background {
    background-size: auto 536px;
  }
}

@media screen and (max-width: 320px) {
  .app_background {
    background-image: url(../../images/Main-Background-Mobile.png);
    background-size: auto;
  }
}
