.app {
  max-width: 1440px;
  margin: 0 auto;
  color: #fff;
}

.app__background {
  background-image: url("../../images/Main-Background.png");
  background-position-x: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .app {
    width: 100%;
  }
}