.news-card {
  width: 100%;
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #fff;
  cursor: pointer;
}

.news-card__image {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px 16px 0 0;
}

.news-card__image-box {
  max-width: 100%;
}

.news-card__info {
  padding: 20px 24px 24px;
}

.news-card__date {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
}

.news-card__title {
  font-family: "Roboto-slab", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  margin: 12px 0 16px;
}

.news-card__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  min-height: 110px;
  margin: 0 0 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-card__source {
  font-family: "Roboto-slab", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  text-decoration: none;
}